//* Welcome to Compass.
// * In this file you should write your main styles. (or centralize your imports)
// * Import this file using the following HTML or equivalent:
// * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

a img
	border-width: 0

body
	margin: 0px
	background: url(/assets/background1.png)
	a :link, a:visited
		text-decoration: none
		color: #000
	&:active
		text-decoration: none
		color: #000
	&:hover
		text-decoration: none
		color: #9e9481


#redes
	img
		width: 60px

#curtir
	width: 60px

h1 
	text-decoration: none
	color: #000
	text-shadow: 0 0 0.1em #000, 0 0 0.1em #000

h2
	font-size: 15pt
	font-family: "Times"
	color: #3e4e6e

h3
	font-size: 15pt
	color: #3e4e6e
	font-family: "Times"

p2
	font-size: 15pt
	color: #3e4e6e
	font-family: "Times"


#bottom
	margin-top: 40px
	border-top: solid 1px #998f7a
	background: url(/assets/background2.png)
	

#roosters
	p
		font-family: "Times"
		text-decoration: none
		color: #000
		a:link, a:visited
			text-decoration: none
			color: #000
			&:active
				text-decoration: none
				color: #000
			&:hover
				text-decoration: none
				color: #9e9481

#desc
	p
		font-family: "Times"
		text-decoration: none
		color: #000
	img
		width: 300px
		
#anuncio
	background: url(/assets/background3.png) 
	border-top: solid 1px #998f7a
	border-bottom: solid 1px #6c6b68

#paragrafo
	h3
		color: #3e4e6e
		font-size: 20px
		font-family: "Times"
	a:link, a:visited
		text-decoration: none
		color: #000
		&:active
			text-decoration: none
			color: #000
		&:hover
			text-decoration: none
			color: #3e4e6e
#footer
	p
		text-decoration: none
		color: #9e9481
